# Project 1: Heart diseases

## Imports

In [52]:
import pandas as pd
from tabula import read_pdf
import matplotlib.pyplot as plt
import numpy as np
import copy

## Contents
- [0. Load data](#0.-Load-data)
- [1. Columns](#1.-Columns)
- [2. Clean Up](#2.-Clean-Up)

### Complete attribute documentation:
- 1 id: patient identification number
- 3 age: age in years
- 4 sex: sex (1 = male; 0 = female)
- 9 cp: chest pain type
    - Value 1: typical angina
    - Value 2: atypical angina
    - Value 3: non-anginal pain
    - Value 4: asymptomatic
- 10 trestbps: resting blood pressure (in mm Hg on admission to the 
        hospital)
- 12 chol: serum cholestoral in mg/dl
- 16 fbs: (fasting blood sugar > 120 mg/dl)  (1 = true; 0 = false)
- 19 restecg: resting electrocardiographic results
    - Value 0: normal
    - Value 1: having ST-T wave abnormality (T wave inversions and/or ST 
            elevation or depression of > 0.05 mV)
    - Value 2: showing probable or definite left ventricular hypertrophy
            by Estes' criteria
- 32 thalach: maximum heart rate achieved
- 38 exang: exercise induced angina (1 = yes; 0 = no)
- 40 oldpeak = ST depression induced by exercise relative to rest
- 41 slope: the slope of the peak exercise ST segment
    - Value 1: upsloping
    - Value 2: flat
    - Value 3: downsloping
- 44 ca: number of major vessels (0-3) colored by flourosopy
- 51 thal: 3 = normal; 6 = fixed defect; 7 = reversable defect
     
- predicted

## 0. Load data

In [93]:
df_H = pd.read_excel('datos\\Hungarian_Switzerland.xlsx', sheet_name=0)
df_S = pd.read_excel('datos\\Hungarian_Switzerland.xlsx', sheet_name=1)
df_Clev = pd.read_csv('datos\\processed.cleveland.data', header = None)
df_LB = read_pdf('datos\\LongBeachData.pdf', pages ='all')

## 1. Columns homogeneization

In [95]:
column_names = ['id','age', 'sex', 'cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','predicted']  
print(len(column_names))

15

In [96]:
new_column_name = 'id'
new_column_value = [f'Patient {i+1}' for i in range(len(df_Clev))]
df_Clev.insert(0, new_column_name, new_column_value)

In [97]:
df_LB_nohead = {}
for i, df in enumerate(df_LB[1:7]):
    header_row = [df.columns.tolist()]
    header_df = pd.DataFrame(header_row, columns=df.columns)
    df_with_header = pd.concat([header_df, df], ignore_index=True)
    df_LB_nohead[i] = df_with_header

In [98]:
df_S.columns = column_names
df_H.columns = column_names
df_Clev.columns = column_names
df_LB[0].columns = column_names
for _, df in df_LB_nohead.items():
    df.columns = column_names

We will concatenate later, it will be easier to clean data types having dataframes separated.

## 2. Clean Up

### Putting df's from different hospitals into a list and adding hospital index
We will add a column = 'hospital_id' in which Switzerland patients = 1, Hungarian = 2, Cleveland = 3 and Long Beach = 4

In [99]:
dataframes = [df_S, df_H, df_Clev, df_LB[0]] # los guardo en una lista todos para poder iterar sobre los dataframes
dataframes.extend(list(df_LB_nohead.values()))

In [161]:
def convert_to_int_or_nan(value):
    '''
    Function to handle columns that should be ints or boolean but have decimals, (no sabemos porque, pasa en pocas filas), 
    to convert them to values that can be used later with .astype()
    '''
    try:
        # First, try to convert to float
        float_val = float(value)
        # If successful, check if it's an integer or float
        if float_val.is_integer():
            # It's an integer, return as is
            return int(float_val)
        else:
            returnee = np.nan
            return returnee
    except (TypeError, ValueError) as e:
        returnee = np.nan
        return returnee

En este loop aprovecho para hacer varias cosas: 
- Rehacer los indices de los pacientes
- Añadir la columna con el número del hospital de origen
- Homogeneizar los tipos de datos en cada columna (Repasálo para ver si está bien esto, y compara o preguntale al Agustí)

In [191]:
dataframes_clean_up = copy.deepcopy(dataframes) # copio la lista en una variable diferente para poder modificar la copia 
                                                # sin tocar el original. Así no hay que volver arriba cada vez que quieras recorrer

patients_counter = 0 # contador para asignar un id de paciente de 0 a len(dataframes_concatenados)

# LOOPING OVER ALL DATAFRAMES BEFORE CONCATENATING
for df_index, df in enumerate(dataframes_clean_up):
    
    # Rehacer los indices de pacientes
    for row_index, row in df.iterrows():
        
        patients_counter += 1 # cada fila sumamos 1 y lo usamos para rehacer los indices del dataset entero
                                # sino ahora mismo cada dataframe comienza por el Patient 1, 2, 3
        df['id'][row_index] = patients_counter # sustituimos lo que hay ahora por el numero
        
    # ADDING THE HOSPITAL INDEX
    if df_index<3:
        hospital_index = df_index+1
    else:
        hospital_index = 4 # to put index 4 for all the Long Beach df's
    new_column_name = 'hospital_id'
    new_column_value = [hospital_index for _ in range(len(df))]
    df.insert(14, new_column_name, new_column_value)

    print(df_index, row_index)
    
    ##################################################
    ## HOMOGENIZAR TIPOS DE DATOS PARA CADA COLUMNA ##
    ##################################################
    
    # REPLACE '?' with NaNs
    df.replace('?', pd.NA, inplace=True)
    
    # Convert to int 
    # Estos no dan problemas
    convert2_int_columns = ['age', 'sex']
    for col in convert2_int_columns:
        df[col] = df[col].astype(int)
    
    # Convert to float
    convert2_float_columns = ['cp', 'trestbps', 'chol', 'restecg', 'thalach','oldpeak','chol', 'slope']
    for col in convert2_float_columns:
        df[col] = pd.to_numeric(df[col], errors='coerce') # coerce fuerza a que convierta los errores en Nans
    
    # Convert to boolean
    convert2_boolean_columns = ['fbs','exang']
    for col in convert2_boolean_columns:
        for row_index, row_value in enumerate(df[col]):
            conv_value = convert_to_int_or_nan(row_value) # converts floats to Nans
            df[col][row_index] = conv_value # save element-wise
        
        df[col] = df[col].astype('boolean') # now that we dont have floats,  we can convert ints and Nans all to boolean
    
    # Convert problematic ints
    convert2_int_columns = ['ca', 'slope', 'predicted','thal']
    for col in convert2_int_columns:
        for row_index, row_value in enumerate(df[col]):
            conv_value = convert_to_int_or_nan(row_value) # converts floats to Nans
            df[col][row_index] = conv_value # save element-wise
        
        df[col] = df[col].astype('Int64')    
    
    print(df.dtypes) # imprime el tipo de dato para las columnas de cada dataframe, para las cosas mixtas es 'object'
                    # querriamos homogeneizarlo

C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['id'][row_index] = patients_counter # sustituimos lo que hay ahora por el numero
C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row_index] = conv_value # save element-wise
C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row_index] = conv_value # save element-wise
C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['id'][row_index] = patients_counter # sustituimos lo que hay ahora por el numero
C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row_index] = conv_value # save element-wise

0 122
id               int64
age              int32
sex              int32
cp               int64
trestbps       float64
chol             int64
fbs            boolean
restecg        float64
thalach        float64
exang          boolean
oldpeak        float64
slope            Int64
ca               Int64
thal             Int64
hospital_id      int64
predicted        Int64
dtype: object
1 293

C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row_index] = conv_value # save element-wise
C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['id'][row_index] = patients_counter # sustituimos lo que hay ahora por el numero
C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row_index] = conv_value # save element-wise

id               int64
age              int32
sex              int32
cp               int64
trestbps       float64
chol           float64
fbs            boolean
restecg        float64
thalach        float64
exang          boolean
oldpeak        float64
slope            Int64
ca               Int64
thal             Int64
hospital_id      int64
predicted        Int64
dtype: object
2 302

C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row_index] = conv_value # save element-wise
C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['id'][row_index] = patients_counter # sustituimos lo que hay ahora por el numero
C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row_index] = conv_value # save element-wise
C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row_index] = conv_value # save element-wise
C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row_index] = conv_value # save element-wise
C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row_index] = conv_value # save element-wise
C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row_index] = conv_value # save element-wise
C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row_index] = conv_value # save element-wise
C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row_index] = conv_value # save element-wise
C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row_index] = conv_value # save element-wise

id               int64
age              int32
sex              int32
cp             float64
trestbps       float64
chol           float64
fbs            boolean
restecg        float64
thalach        float64
exang          boolean
oldpeak        float64
slope            Int64
ca               Int64
thal             Int64
hospital_id      int64
predicted        Int64
dtype: object
3 30
id               int64
age              int32
sex              int32
cp               int64
trestbps       float64
chol             int64
fbs            boolean
restecg          int64
thalach        float64
exang          boolean
oldpeak        float64
slope            Int64
ca               Int64
thal             Int64
hospital_id      int64
predicted        Int64
dtype: object
4 31
id               int64
age              int32
sex              int32
cp               int64
trestbps       float64
chol             int64
fbs            boolean
restecg        float64
thalach        float64
exang          boolean
oldpeak        float64
slope            Int64
ca               Int64
thal             Int64
hospital_id      int64
predicted        Int64
dtype: object
5 31
id               int64
age              int32
sex              int32
cp               int64
trestbps       float64
chol             int64
fbs            boolean
restecg          int64
thalach        float64
exang          boolean
oldpeak        float64
slope            Int64
ca               Int64
thal             Int64
hospital_id      int64
predicted        Int64
dtype: object
6 31
id               int64
age              int32
sex              int32
cp               int64
trestbps       float64
chol           float64
fbs            boolean
restecg        float64
thalach        float64
exang          boolean
oldpeak        float64
slope            Int64
ca               Int64
thal             Int64
hospital_id      int64
predicted        Int64
dtype: object
7 31
id               int64
age              int32
sex              int32
cp               int64
trestbps       float64
chol           float64
fbs            boolean
restecg        float64
thalach        float64
exang          boolean
oldpeak        float64
slope            Int64
ca               Int64
thal             Int64
hospital_id      int64
predicted        Int64
dtype: object
8 31
id               int64
age              int32
sex              int32
cp               int64
trestbps       float64
chol           float64
fbs            boolean
restecg          int64
thalach        float64
exang          boolean
oldpeak        float64
slope            Int64
ca               Int64
thal             Int64
hospital_id      int64
predicted        Int64
dtype: object
9 8
id               int64
age              int32
sex              int32
cp               int64
trestbps       float64
chol             int64
fbs            boolean
restecg        float64
thalach        float64
exang          boolean
oldpeak        float64
slope            Int64
ca               Int64
thal             Int64
hospital_id      int64
predicted        Int64
dtype: object

C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row_index] = conv_value # save element-wise
C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row_index] = conv_value # save element-wise
C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row_index] = conv_value # save element-wise
C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row_index] = conv_value # save element-wise
C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row_index] = conv_value # save element-wise
C:\Users\oriol\AppData\Local\Temp\ipykernel_10200\233753616.py:57: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col][row_index] = conv_value # save element-wise

## Concatenate into a single Dataframe

Concatenamos la lista que hemos modificado, osea la copia.

In [195]:
df_sin_homogeneizar = pd.concat(dataframes, ignore_index=True)
df_concatenated = pd.concat(dataframes_clean_up, ignore_index=True)

In [196]:
df_concatenated

,id,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,hospital_id,predicted
0,1,32,1,1.0,95.0,0.0,<NA>,0.0,127.0,False,0.7,1,<NA>,<NA>,1,1
1,2,34,1,4.0,115.0,0.0,<NA>,NaN,154.0,False,0.2,1,<NA>,<NA>,1,1
2,3,35,1,4.0,NaN,0.0,<NA>,0.0,130.0,True,NaN,<NA>,<NA>,7,1,3
3,4,36,1,4.0,110.0,0.0,<NA>,0.0,125.0,True,1.0,2,<NA>,6,1,1
4,5,38,0,4.0,105.0,0.0,<NA>,0.0,166.0,False,2.8,1,<NA>,<NA>,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,916,54,0,4.0,127.0,333.0,True,1.0,154.0,False,0.0,<NA>,<NA>,<NA>,4,1
916,917,62,1,1.0,NaN,139.0,False,1.0,NaN,<NA>,NaN,<NA>,<NA>,<NA>,4,0
917,918,55,1,4.0,122.0,223.0,True,1.0,100.0,False,0.0,<NA>,<NA>,6,4,2
918,919,58,1,4.0,NaN,385.0,True,2.0,NaN,<NA>,NaN,<NA>,<NA>,<NA>,4,0
919,920,62,1,2.0,120.0,254.0,False,2.0,93.0,True,0.0,<NA>,<NA>,<NA>,4,1

Vovlemos a ejecutar .dtypes pero sobre el df concatenado. Si hay diferentes tipos de datos en una cierta columna mostrará 'object'. Si muestra 'float64', es que efectivamente todos los elementos dentro de esa columna son del mismo tipo.

In [197]:
df_sin_homogeneizar.dtypes

id           object
age          object
sex          object
cp           object
trestbps     object
chol         object
fbs          object
restecg      object
thalach      object
exang        object
oldpeak      object
slope        object
ca           object
thal         object
predicted    object
dtype: object

In [198]:
df_concatenated.dtypes

id               int64
age              int32
sex              int32
cp             float64
trestbps       float64
chol           float64
fbs            boolean
restecg        float64
thalach        float64
exang          boolean
oldpeak        float64
slope            Int64
ca               Int64
thal             Int64
hospital_id      int64
predicted        Int64
dtype: object

Vemos como todas las columnas del dataframe tratado son de una sola clase homogénea, mientras que el original mostraba todo 'objects', osea mix de varias cosas.

# Counts

Con este print puedes ver la frecuencia de cada tipo de valor para cada columna de cada paciente. Por ej. cuantos hombres (df['sex']=1), y cuántas mujeres (df['sex']=0) hay en Cleveland (df['hospital_id]=3). Úsalo para ver si te da lo que toca, comparar con la rsta y hacer la resta de cosas.

In [192]:
columns_to_count = [ 'age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg',
       'thalach', 'exang', 'oldpeak', 'slope', 'ca', 'thal', 'hospital_id',
       'predicted']

for df in dataframes_clean_up:
    for col in columns_to_count:
        counts = df[col].value_counts()
        hid = df['hospital_id'][0]
        print('###########################################################')
        print(f'Hospital ID: {hid}.\nColumn studied: {col}\nCounts:\n {counts}')
        print('###########################################################')
        print('\n\n\n')

###########################################################
Hospital ID: 1.
Column studied: age
Counts:
 61    9
56    8
53    8
51    7
62    7
38    6
60    6
57    6
63    5
59    5
50    4
52    4
65    4
55    4
47    4
54    3
43    3
58    3
64    3
46    2
66    2
68    2
42    2
69    2
70    2
67    1
72    1
73    1
32    1
34    1
48    1
45    1
41    1
40    1
36    1
35    1
74    1
Name: age, dtype: int64
###########################################################




###########################################################
Hospital ID: 1.
Column studied: sex
Counts:
 1    113
0     10
Name: sex, dtype: int64
###########################################################




###########################################################
Hospital ID: 1.
Column studied: cp
Counts:
 4    98
3    17
1     4
2     4
Name: cp, dtype: int64
###########################################################




###########################################################
Hospital ID: 1.
Column studied: trestbps
Counts:
 115.0    14
120.0    13
160.0    11
110.0    10
130.0    10
140.0    10
125.0     8
150.0     7
95.0      6
135.0     6
145.0     6
105.0     5
155.0     4
100.0     4
200.0     2
165.0     1
80.0      1
180.0     1
170.0     1
185.0     1
Name: trestbps, dtype: int64
###########################################################




###########################################################
Hospital ID: 1.
Column studied: chol
Counts:
 0    123
Name: chol, dtype: int64
###########################################################




###########################################################
Hospital ID: 1.
Column studied: fbs
Counts:
 False    43
True      5
Name: fbs, dtype: Int64
###########################################################




###########################################################
Hospital ID: 1.
Column studied: restecg
Counts:
 0.0    85
1.0    30
2.0     7
Name: restecg, dtype: int64
###########################################################




###########################################################
Hospital ID: 1.
Column studied: thalach
Counts:
 120.0    9
128.0    5
110.0    4
115.0    4
122.0    4
        ..
141.0    1
83.0     1
97.0     1
103.0    1
157.0    1
Name: thalach, Length: 67, dtype: int64
###########################################################




###########################################################
Hospital ID: 1.
Column studied: exang
Counts:
 False    68
True     54
Name: exang, dtype: Int64
###########################################################




###########################################################
Hospital ID: 1.
Column studied: oldpeak
Counts:
  0.0    42
 2.0    11
 1.0    10
 1.5     6
 0.5     5
 0.7     4
 0.2     2
 2.5     2
 1.1     2
 1.4     2
 1.8     2
-1.0     2
 0.3     2
 0.1     2
 1.3     2
 1.6     2
 2.4     1
 3.7     1
-0.9     1
-0.5     1
-0.8     1
 1.7     1
 2.8     1
 0.4     1
-1.1     1
-0.7     1
 2.2     1
 2.6     1
-1.5     1
-0.1     1
-2.0     1
-2.6     1
 2.1     1
 3.0     1
 0.9     1
Name: oldpeak, dtype: int64
###########################################################




###########################################################
Hospital ID: 1.
Column studied: slope
Counts:
 2    61
1    33
3    12
Name: slope, dtype: Int64
###########################################################




###########################################################
Hospital ID: 1.
Column studied: ca
Counts:
 2    3
1    2
Name: ca, dtype: Int64
###########################################################




###########################################################
Hospital ID: 1.
Column studied: thal
Counts:
 7    42
3    19
6    10
Name: thal, dtype: Int64
###########################################################




###########################################################
Hospital ID: 1.
Column studied: hospital_id
Counts:
 1    123
Name: hospital_id, dtype: int64
###########################################################




###########################################################
Hospital ID: 1.
Column studied: predicted
Counts:
 1    48
2    32
3    30
0     8
4     5
Name: predicted, dtype: Int64
###########################################################




###########################################################
Hospital ID: 2.
Column studied: age
Counts:
 54    25
48    19
52    17
55    15
49    15
46    13
53    12
50    12
43    12
39    11
41    11
47    10
56    10
58     9
51     9
59     8
45     8
37     8
42     7
40     7
38     7
44     7
36     5
35     5
57     5
34     4
32     4
65     3
61     2
60     2
62     2
31     2
33     2
29     2
63     1
28     1
30     1
66     1
Name: age, dtype: int64
###########################################################




###########################################################
Hospital ID: 2.
Column studied: sex
Counts:
 1    213
0     81
Name: sex, dtype: int64
###########################################################




###########################################################
Hospital ID: 2.
Column studied: cp
Counts:
 4    123
2    106
3     54
1     11
Name: cp, dtype: int64
###########################################################




###########################################################
Hospital ID: 2.
Column studied: trestbps
Counts:
 120.0    65
130.0    54
140.0    50
150.0    23
110.0    21
160.0    20
125.0     8
100.0     6
180.0     6
135.0     5
145.0     5
170.0     5
112.0     3
115.0     2
124.0     2
118.0     2
122.0     2
92.0      1
138.0     1
136.0     1
128.0     1
200.0     1
106.0     1
142.0     1
113.0     1
108.0     1
132.0     1
190.0     1
98.0      1
105.0     1
155.0     1
Name: trestbps, dtype: int64
###########################################################




###########################################################
Hospital ID: 2.
Column studied: chol
Counts:
 246.0    5
230.0    5
275.0    5
238.0    4
196.0    4
        ..
468.0    1
259.0    1
100.0    1
210.0    1
393.0    1
Name: chol, Length: 153, dtype: int64
###########################################################




###########################################################
Hospital ID: 2.
Column studied: fbs
Counts:
 False    266
True      20
Name: fbs, dtype: Int64
###########################################################




###########################################################
Hospital ID: 2.
Column studied: restecg
Counts:
 0.0    235
1.0     52
2.0      6
Name: restecg, dtype: int64
###########################################################




###########################################################
Hospital ID: 2.
Column studied: thalach
Counts:
 150.0    29
140.0    21
130.0    17
170.0    14
160.0    13
         ..
106.0     1
162.0     1
127.0     1
139.0     1
114.0     1
Name: thalach, Length: 71, dtype: int64
###########################################################




###########################################################
Hospital ID: 2.
Column studied: exang
Counts:
 False    204
True      89
Name: exang, dtype: Int64
###########################################################




###########################################################
Hospital ID: 2.
Column studied: oldpeak
Counts:
 0.0    189
1.0     41
2.0     31
1.5     16
3.0      9
2.5      3
0.5      2
0.8      1
4.0      1
5.0      1
Name: oldpeak, dtype: int64
###########################################################




###########################################################
Hospital ID: 2.
Column studied: slope
Counts:
 2    91
1    12
3     1
Name: slope, dtype: Int64
###########################################################




###########################################################
Hospital ID: 2.
Column studied: ca
Counts:
 0    3
Name: ca, dtype: Int64
###########################################################




###########################################################
Hospital ID: 2.
Column studied: thal
Counts:
 7    11
6    10
3     7
Name: thal, dtype: Int64
###########################################################




###########################################################
Hospital ID: 2.
Column studied: hospital_id
Counts:
 2    294
Name: hospital_id, dtype: int64
###########################################################




###########################################################
Hospital ID: 2.
Column studied: predicted
Counts:
 0    188
1    106
Name: predicted, dtype: Int64
###########################################################




###########################################################
Hospital ID: 3.
Column studied: age
Counts:
 58    19
57    17
54    16
59    14
52    13
60    12
51    12
56    11
62    11
44    11
64    10
41    10
67     9
63     9
42     8
43     8
45     8
53     8
55     8
61     8
65     8
50     7
66     7
48     7
46     7
47     5
49     5
70     4
68     4
35     4
39     4
69     3
71     3
40     3
34     2
37     2
38     2
29     1
77     1
74     1
76     1
Name: age, dtype: int64
###########################################################




###########################################################
Hospital ID: 3.
Column studied: sex
Counts:
 1    206
0     97
Name: sex, dtype: int64
###########################################################




###########################################################
Hospital ID: 3.
Column studied: cp
Counts:
 4.0    144
3.0     86
2.0     50
1.0     23
Name: cp, dtype: int64
###########################################################




###########################################################
Hospital ID: 3.
Column studied: trestbps
Counts:
 120.0    37
130.0    36
140.0    32
110.0    19
150.0    17
138.0    12
128.0    12
160.0    11
125.0    11
112.0     9
132.0     8
118.0     7
124.0     6
108.0     6
135.0     6
152.0     5
134.0     5
145.0     5
100.0     4
170.0     4
122.0     4
126.0     3
136.0     3
115.0     3
180.0     3
142.0     3
105.0     3
102.0     2
146.0     2
144.0     2
148.0     2
178.0     2
94.0      2
165.0     1
123.0     1
114.0     1
154.0     1
156.0     1
106.0     1
155.0     1
172.0     1
200.0     1
101.0     1
129.0     1
192.0     1
158.0     1
104.0     1
174.0     1
117.0     1
164.0     1
Name: trestbps, dtype: int64
###########################################################




###########################################################
Hospital ID: 3.
Column studied: chol
Counts:
 204.0    6
197.0    6
234.0    6
269.0    5
212.0    5
        ..
340.0    1
160.0    1
394.0    1
184.0    1
131.0    1
Name: chol, Length: 152, dtype: int64
###########################################################




###########################################################
Hospital ID: 3.
Column studied: fbs
Counts:
 False    258
True      45
Name: fbs, dtype: Int64
###########################################################




###########################################################
Hospital ID: 3.
Column studied: restecg
Counts:
 0.0    151
2.0    148
1.0      4
Name: restecg, dtype: int64
###########################################################




###########################################################
Hospital ID: 3.
Column studied: thalach
Counts:
 162.0    11
160.0     9
163.0     9
152.0     8
150.0     7
         ..
177.0     1
127.0     1
97.0      1
190.0     1
90.0      1
Name: thalach, Length: 91, dtype: int64
###########################################################




###########################################################
Hospital ID: 3.
Column studied: exang
Counts:
 False    204
True      99
Name: exang, dtype: Int64
###########################################################




###########################################################
Hospital ID: 3.
Column studied: oldpeak
Counts:
 0.0    99
1.2    17
0.6    14
1.0    14
1.4    13
0.8    13
0.2    12
1.6    11
1.8    10
2.0     9
0.4     9
0.1     7
2.8     6
2.6     6
1.9     5
0.5     5
3.0     5
1.5     5
3.6     4
2.2     4
3.4     3
0.9     3
2.4     3
0.3     3
4.0     3
1.1     2
4.2     2
2.3     2
2.5     2
3.2     2
5.6     1
2.9     1
6.2     1
2.1     1
1.3     1
3.1     1
3.8     1
0.7     1
3.5     1
4.4     1
Name: oldpeak, dtype: int64
###########################################################




###########################################################
Hospital ID: 3.
Column studied: slope
Counts:
 1    142
2    140
3     21
Name: slope, dtype: Int64
###########################################################




###########################################################
Hospital ID: 3.
Column studied: ca
Counts:
 0    176
1     65
2     38
3     20
Name: ca, dtype: Int64
###########################################################




###########################################################
Hospital ID: 3.
Column studied: thal
Counts:
 3    166
7    117
6     18
Name: thal, dtype: Int64
###########################################################




###########################################################
Hospital ID: 3.
Column studied: hospital_id
Counts:
 3    303
Name: hospital_id, dtype: int64
###########################################################




###########################################################
Hospital ID: 3.
Column studied: predicted
Counts:
 0    164
1     55
2     36
3     35
4     13
Name: predicted, dtype: Int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: age
Counts:
 60    6
63    5
55    2
66    2
56    2
62    2
64    1
51    1
69    1
52    1
74    1
57    1
58    1
46    1
44    1
59    1
65    1
54    1
Name: age, dtype: int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: sex
Counts:
 1    31
Name: sex, dtype: int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: cp
Counts:
 4    20
3     9
2     2
Name: cp, dtype: int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: trestbps
Counts:
 120.0    5
130.0    4
110.0    3
140.0    2
126.0    2
128.0    2
132.0    1
142.0    1
150.0    1
180.0    1
160.0    1
170.0    1
152.0    1
116.0    1
Name: trestbps, dtype: int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: chol
Counts:
 0      17
228     2
236     2
260     1
209     1
218     1
213     1
267     1
166     1
220     1
177     1
186     1
100     1
Name: chol, dtype: int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: fbs
Counts:
 False    22
True      8
Name: fbs, dtype: Int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: restecg
Counts:
 1    22
0     7
2     2
Name: restecg, dtype: int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: thalach
Counts:
 140.0    4
120.0    4
112.0    1
86.0     1
180.0    1
111.0    1
106.0    1
124.0    1
118.0    1
125.0    1
84.0     1
148.0    1
127.0    1
117.0    1
157.0    1
141.0    1
105.0    1
99.0     1
149.0    1
129.0    1
Name: thalach, dtype: int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: exang
Counts:
 True     16
False    10
Name: exang, dtype: Int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: oldpeak
Counts:
  0.0    6
 1.5    4
 1.0    4
 2.0    3
 0.5    3
 3.0    2
 2.5    2
 1.3    1
-0.5    1
Name: oldpeak, dtype: int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: slope
Counts:
 2    12
1     5
3     3
Name: slope, dtype: Int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: ca
Counts:
 0    1
Name: ca, dtype: Int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: thal
Counts:
 7    2
3    1
6    1
Name: thal, dtype: Int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: hospital_id
Counts:
 4    31
Name: hospital_id, dtype: int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: predicted
Counts:
 1    10
0     9
2     6
3     5
4     1
Name: predicted, dtype: Int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: age
Counts:
 59    4
60    3
61    3
63    3
51    2
55    2
53    2
62    2
57    2
77    1
56    1
42    1
40    1
41    1
58    1
64    1
52    1
68    1
Name: age, dtype: int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: sex
Counts:
 1    31
0     1
Name: sex, dtype: int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: cp
Counts:
 4    22
3     7
2     3
Name: cp, dtype: int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: trestbps
Counts:
 120.0    3
124.0    2
122.0    2
154.0    2
134.0    1
110.0    1
178.0    1
138.0    1
126.0    1
152.0    1
136.0    1
128.0    1
160.0    1
104.0    1
125.0    1
144.0    1
0.0      1
130.0    1
Name: trestbps, dtype: int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: chol
Counts:
 0      20
171     1
230     1
281     1
203     1
277     1
233     1
240     1
153     1
224     1
316     1
218     1
311     1
Name: chol, dtype: int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: fbs
Counts:
 False    19
True      9
Name: fbs, dtype: Int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: restecg
Counts:
 0.0    18
1.0    11
2.0     2
1.1     1
Name: restecg, dtype: int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: thalach
Counts:
 110.0    2
105.0    1
108.0    1
120.0    1
140.0    1
130.0    1
106.0    1
161.0    1
97.0     1
125.0    1
160.0    1
128.0    1
107.0    1
117.0    1
84.0     1
111.0    1
86.0     1
165.0    1
80.0     1
131.0    1
133.0    1
122.0    1
155.0    1
148.0    1
Name: thalach, dtype: int64
###########################################################




###########################################################
Hospital ID: 4.
Column studied: exang
Counts:
 True     16
False     8
Name: exang, dtype: Int64
###########################################################



