# Project 1: Heart diseases #

In [1]:
!pip install JPype1

Collecting JPype1
  Downloading JPype1-1.5.0-cp310-cp310-win_amd64.whl (351 kB)
     ------------------------------------ 351.5/351.5 kB 520.2 kB/s eta 0:00:00
Requirement already satisfied: packaging in c:\users\pms20\anaconda3\lib\site-packages (from JPype1) (22.0)
Installing collected packages: JPype1
Successfully installed JPype1-1.5.0

In [40]:
import pandas as pd
from tabula import read_pdf

df_H = pd.read_excel('datos\\Hungarian_Switzerland.xlsx', sheet_name= 0)
df_S = pd.read_excel('datos\\Hungarian_Switzerland.xlsx', sheet_name= 1)
df_Clev = pd.read_csv('datos\\processed.cleveland.data', header = None)
df_LB = read_pdf('datos\\LongBeachData.pdf', pages ='all')

In [3]:
df_Clev.head()

     0    1    2      3      4    5    6      7    8    9    10   11   12  13
0  63.0  1.0  1.0  145.0  233.0  1.0  2.0  150.0  0.0  2.3  3.0  0.0  6.0   0
1  67.0  1.0  4.0  160.0  286.0  0.0  2.0  108.0  1.0  1.5  2.0  3.0  3.0   2
2  67.0  1.0  4.0  120.0  229.0  0.0  2.0  129.0  1.0  2.6  2.0  2.0  7.0   1
3  37.0  1.0  3.0  130.0  250.0  0.0  0.0  187.0  0.0  3.5  3.0  0.0  3.0   0
4  41.0  0.0  2.0  130.0  204.0  0.0  2.0  172.0  0.0  1.4  1.0  0.0  3.0   0

In [11]:
df_H.head()

,Unnamed: 0,age,sex,Chest pain type,resting blood pressure,serum cholestoral,fasting blood sugar,Resting EEG,maximum heart rate,exercise induced angina,ST depression,slope ST,number of major vessels,thal,diagnosis of heart disease
0,Patient 1,28,1,2,130,132,0,2,185,0,0.0,?,?,?,0
1,Patient 2,29,1,2,120,243,0,0,160,0,0.0,?,?,?,0
2,Patient 3,29,1,2,140,?,0,0,170,0,0.0,?,?,?,0
3,Patient 4,30,0,1,170,237,0,1,170,0,0.0,?,?,6,0
4,Patient 5,31,0,2,100,219,0,1,150,0,0.0,?,?,?,0

In [35]:
df_LB_def= pd.concat([df_LB[0], df_LB[1], df_LB[2], df_LB[3], df_LB[4], df_LB[5], df_LB[6]], ignore_index = False)

In [36]:
df_LB_def

,Unnamed: 0,age,sex,cp,rbtrestbpsp,chol,fbs,restecg,thalach,exang,...,282,?.3,?.4,?.5,?.6,Patient 192,62,254,108,4.1
0,Patient 1,63.0,1.0,4.0,140,260.0,0,1.0,112,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Patient 2,44.0,1.0,4.0,130,209.0,0,1.0,127,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Patient 3,60.0,1.0,4.0,132,218.0,0,1.0,140,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Patient 4,55.0,1.0,4.0,142,228.0,0,1.0,149,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Patient 5,66.0,1.0,3.0,110,213.0,1,2.0,99,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Patient 196,54.0,333.0,154,1.0
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Patient 197,62.0,139.0,?,0.0
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Patient 198,55.0,223.0,100,2.0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Patient 199,58.0,385.0,?,0.0
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Patient 200,62.0,254.0,93,1.0

AttributeError: 'list' object has no attribute 'shape'